@import '@styles/variables.scss';

.label {
  display: flex;
  flex-direction: column;
  
  p {
    font-size: 16px;
    color: $accent-color;
    font-weight: 500;
  
    &:not(:last-child) {
      margin-bottom: $spacing-04;
    }
  }
}