@import '@styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height-desktop;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(8px);
  z-index: $index-header;

  a:not(:last-child) {
    margin-right: 12px;
  }

  @media (max-width: 1200px) {
    height: $header-height-mobile;
  }
}