@import '@styles/variables.scss';

.container {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  z-index: 2;

  @media (max-width: 1200px) {
    padding: 0 $spacing-16;
  }

  @media (max-width: 768px) {
    padding: 0 $spacing-12;
  }
}